wsdl/WorkflowInfoAss3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WorkflowInfoService" targetNamespace="http://pad.polito.it/WorkflowInfo"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns="http://schemas.xmlsoap.org/wsdl/"
			xmlns:tns="http://pad.polito.it/WorkflowInfo"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<types>
		<xs:schema version="1.0" targetNamespace="http://pad.polito.it/WorkflowInfo">
			<xs:element name="UnknownNames" type="tns:UnknownNames" />
			<xs:element name="getWorkflowNames" type="tns:getWorkflowNames" />
			<xs:element name="getWorkflowNamesResponse" type="tns:getWorkflowNamesResponse" />
			<xs:element name="getWorkflows" type="tns:getWorkflows" />
			<xs:element name="getWorkflowsResponse" type="tns:getWorkflowsResponse" />
			<xs:complexType name="getWorkflows">
				<xs:sequence>
					<xs:element name="wfname" type="xs:string" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getWorkflowsResponse">
				<xs:sequence>
					<xs:element name="lastModTime" type="xs:dateTime" />
					<xs:element name="workflow" type="tns:workflow"
						minOccurs="0" maxOccurs="unbounded">
						<xs:key name="actionKey">
							<xs:selector xpath="action" />
							<xs:field xpath="name" />
						</xs:key>
						<xs:keyref name="nextActionKeyRef" refer="tns:actionKey">
							<xs:selector xpath="action" />
							<xs:field xpath="nextAction" />
						</xs:keyref>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="workflow">
				<xs:sequence>
					<xs:element name="name" type="tns:Name" />
					<xs:element name="action" type="tns:action" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="action">
				<xs:sequence>
					<xs:element name="name" type="tns:Name" />
					<xs:element name="automaticallyInstantiated" type="xs:boolean" />
					<xs:element name="role" type="tns:Role" />
					<xs:choice>
						<xs:element name="nextAction" type="tns:Name" nillable="true"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="workflow" type="tns:Name" minOccurs="0" />
					</xs:choice>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnknownNames">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0" />
					<xs:element name="names" type="tns:Name" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getWorkflowNames">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getWorkflowNamesResponse">
				<xs:sequence>
					<xs:element name="lastModTime" type="xs:dateTime" />
					<xs:element name="name" type="tns:Name" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Name">
				<xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z][a-zA-Z0-9]*" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Role">
				<xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z ]*" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</types>
	<message name="getWorkflowNames">
		<part name="parameters" element="tns:getWorkflowNames" />
	</message>
	<message name="getWorkflowNamesResponse">
		<part name="parameters" element="tns:getWorkflowNamesResponse" />
	</message>
	<message name="getWorkflows">
		<part name="parameters" element="tns:getWorkflows" />
	</message>
	<message name="getWorkflowsResponse">
		<part name="parameters" element="tns:getWorkflowsResponse" />
	</message>
	<message name="UnknownNames">
		<part name="fault" element="tns:UnknownNames" />
	</message>
	<portType name="WorkflowInfo">
		<operation name="getWorkflowNames">
			<documentation>Returns the list of names of the workflows provided by
				the service</documentation>
			<input message="tns:getWorkflowNames" />
			<output message="tns:getWorkflowNamesResponse" />
		</operation>
		<operation name="getWorkflows">
			<documentation>Returns the details of the workflows whose names are
				passed as argument</documentation>
			<input message="tns:getWorkflows" />
			<output message="tns:getWorkflowsResponse" />
			<fault message="tns:UnknownNames" name="UnknownNames" />
		</operation>
	</portType>
	<binding name="WorkflowInfoPortBinding" type="tns:WorkflowInfo">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="getWorkflowNames">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getWorkflows">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UnknownNames">
				<soap:fault name="UnknownNames" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="WorkflowInfoService">
		<port name="WorkflowInfoPort" binding="tns:WorkflowInfoPortBinding">
			<soap:address location="http://localhost:8181/WorkflowInfo" />
		</port>
	</service>

</definitions>