wsdl/Workflow.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="Workflow" targetNamespace="http://lucamannella.altervista.org/WorkflowManager/"
				xmlns:wfm="http://lucamannella.altervista.org/WorkflowManager/"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
	<wsdl:documentation>
    	Service: WorkflowService
    	Version: 5.0
    	Owner: Luca Mannella
    </wsdl:documentation>
  			
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://lucamannella.altervista.org/WorkflowManager/" schemaLocation="Workflow.xsd"/>
		</xsd:schema>
	</wsdl:types>	

	<wsdl:message name="getWorkflowNames">
		<wsdl:part name="parameters" element="wfm:getWorkflowNames"/>
	</wsdl:message>
	<wsdl:message name="getWorkflowNamesResponse">
		<wsdl:part name="returnValues" element="wfm:getWorkflowNamesResponse"/>
	</wsdl:message>
	<wsdl:message name="getWorkflows">
		<wsdl:part name="parameters" element="wfm:getWorkflows"/>
	</wsdl:message>
	<wsdl:message name="getWorkflowsResponse">
		<wsdl:part name="returnValues" element="wfm:getWorkflowsResponse"/>
	</wsdl:message>

	<wsdl:message name="getProcessesRequest">
		<wsdl:part name="parameters" element="wfm:getProcesses"/>
	</wsdl:message>
	<wsdl:message name="getProcessesResponse">
		<wsdl:part name="returnValues" element="wfm:getProcessesResponse"/>
	</wsdl:message>
	<wsdl:message name="createNewProcess">
		<wsdl:part name="parameters" element="wfm:createNewProcess"/>
	</wsdl:message>
	<wsdl:message name="createNewProcessResponse">
		<wsdl:part name="result" element="wfm:createNewProcessResponse"/>
	</wsdl:message>
	
	<wsdl:message name="getActions">
		<wsdl:part name="parameters" element="wfm:getActions"/>
	</wsdl:message>
	<wsdl:message name="getActionsResponse">
		<wsdl:part name="returnValues" element="wfm:getActionsResponse"/>
	</wsdl:message>
	<wsdl:message name="takeOverAction">
		<wsdl:part name="parameters" element="wfm:takeOverAction"/>
	</wsdl:message>
	<wsdl:message name="takeOverActionResponse">
		<wsdl:part name="result" element="wfm:takeOverActionResponse"/>
	</wsdl:message>
	<wsdl:message name="completeAction">
		<wsdl:part name="parameters" element="wfm:completeAction"/>
	</wsdl:message>
	<wsdl:message name="completeActionResponse">
		<wsdl:part name="result" element="wfm:completeActionResponse"/>
	</wsdl:message>
	
	<wsdl:message name="UnknownNames">
		<wsdl:part name="fault" element="wfm:UnknownNames"/>
	</wsdl:message>
	<wsdl:message name="UnknownCode">
		<wsdl:part name="fault" element="wfm:UnknownCode"/>
	</wsdl:message>
	<wsdl:message name="UnknownWorkflow">
		<wsdl:part name="fault" element="wfm:UnknownWorkflow"/>
	</wsdl:message>
	<wsdl:message name="WrongActor">
		<wsdl:part name="fault" element="wfm:WrongActor"/>
	</wsdl:message>
	<wsdl:message name="UnknownActionName">
		<wsdl:part name="fault" element="wfm:UnknownActionName"/>
	</wsdl:message>
	<wsdl:message name="UnknownNextActionName">
		<wsdl:part name="fault" element="wfm:UnknownNextActionName"/>
	</wsdl:message>
	
	<wsdl:message name="WrongAction">
		<wsdl:part name="fault" element="wfm:WrongAction" />
	</wsdl:message>
	<wsdl:message name="ActionAlreadyFinished">
		<wsdl:part name="fault" element="wfm:ActionAlreadyFinished"/>
	</wsdl:message>
	
	
	<wsdl:portType name="WorkflowInfoInterface">
		<wsdl:documentation>This interface allows to read the informations related to the Workflows.</wsdl:documentation>
		
		<wsdl:operation name="getWorkflowNames">
			<wsdl:documentation>
				Returns the list of names of the Workflows provided by the service.
			</wsdl:documentation>
    		<wsdl:input message="wfm:getWorkflowNames"/>
    		<wsdl:output message="wfm:getWorkflowNamesResponse"/>
		</wsdl:operation>
	
		<wsdl:operation name="getWorkflows">
			<wsdl:documentation>
				Returns the details of the Workflows whose names are passed as argument.
				If the argument is null, the informations about all the workflows are returned.
				If the name of one workflow is not recognized a fault message will be returned.
			</wsdl:documentation>
    		<wsdl:input message="wfm:getWorkflows"/>
    		<wsdl:output message="wfm:getWorkflowsResponse"/>
    		<wsdl:fault name="UnknownNames" message="wfm:UnknownNames"/>
		</wsdl:operation>
		
		<wsdl:operation name="getProcesses">
			<wsdl:documentation>
				Returns the details of the Processes related to the name of the Workflows that are passed as argument.
				The operation will return also the related workflows, this is necessary 
				If the argument is null, the informations about all the Processes are returned.
				If the name of one workflow is not recognized a fault message will be returned.
			</wsdl:documentation>
			<wsdl:input message="wfm:getProcessesRequest"/>
			<wsdl:output message="wfm:getProcessesResponse"/>
            <wsdl:fault name="UnknownNames" message="wfm:UnknownNames"/>
        </wsdl:operation>
        
        <wsdl:operation name="getActions">
			<wsdl:documentation>
				Returns the details of the Actions related to the name of the Processes that are passed as argument.
				If the code of the process is not recognized a fault message will be returned.
			</wsdl:documentation>
			<wsdl:input message="wfm:getActions" />
			<wsdl:output message="wfm:getActionsResponse" />
            <wsdl:fault name="UnknownCode" message="wfm:UnknownCode" />
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="WorkflowControllerInterface">
		<wsdl:documentation>This interface allows to control the informations related to the Workflows.</wsdl:documentation>
        
        <wsdl:operation name="createNewProcess">
			<wsdl:documentation>
				This operation creates new processes and it returns it.
				The new processes are initially created with only the automatically instantiated actions. 
				New actions may be created later on by means of the other operations.
				If the name of the workflow is not recognized a fault message will be returned.
				If there is an internal error during the process creation a nill element will returned.
			</wsdl:documentation>
			<wsdl:input message="wfm:createNewProcess"/>
			<wsdl:output message="wfm:createNewProcessResponse"/>
            <wsdl:fault name="UnknownNames" message="wfm:UnknownWorkflow" />
        </wsdl:operation>
		
		<wsdl:operation name="takeOverAction">
			<wsdl:documentation>
				This operation allows to an Actor to take charge of an instantiated action.
				If the code of the process or the name of the actor are not recognized a fault message will be returned.
				If the action was already taken by another actor a fault will be returned.
			</wsdl:documentation>
			<wsdl:input message="wfm:takeOverAction"/>
			<wsdl:output message="wfm:takeOverActionResponse"/>
            <wsdl:fault name="faultCode" message="wfm:UnknownCode"/>
            <wsdl:fault name="faultActor" message="wfm:WrongActor"/>
            <wsdl:fault name="faultAction" message="wfm:WrongAction"/>
        </wsdl:operation>
		
		<wsdl:operation name="completeAction">
			<wsdl:documentation>
				This operation allows the actor who had taken over the action to complete it.
				If the name of the action or the name of the next action are not recognized a fault message will be returned.
				If the action will be already finished a fault will be returned.
			</wsdl:documentation>
			<wsdl:input message="wfm:completeAction"/>
			<wsdl:output message="wfm:completeActionResponse"/>
            <wsdl:fault name="faultActionName" message="wfm:UnknownActionName"/>
            <wsdl:fault name="faultNextActionName" message="wfm:UnknownNextActionName"/>
            <wsdl:fault name="faultActionFinished" message="wfm:ActionAlreadyFinished"/>
        </wsdl:operation>
	</wsdl:portType>
	
	
	<wsdl:binding name="WorkflowInfoPortBinding" type="wfm:WorkflowInfoInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="getWorkflowNames">
			<soap:operation soapAction="http://lucamannella.altervista.org/WorkflowManager/getWorkflowNames" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getWorkflows">
			<soap:operation soapAction="http://lucamannella.altervista.org/WorkflowManager/getWorkflows" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownNames">
				<soap:fault use="literal" name="UnknownNames" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getProcesses">
			<soap:operation	soapAction="http://lucamannella.altervista.org/WorkflowManager/getProcesses" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownNames">
				<soap:fault use="literal" name="UnknownNames" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getActions">
			<soap:operation soapAction="http://lucamannella.altervista.org/WorkflowManager/getActions" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownCode">
				<soap:fault use="literal" name="UnknownCode" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="WorkflowControllerPortBinding" type="wfm:WorkflowControllerInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="createNewProcess">
			<soap:operation	soapAction="http://lucamannella.altervista.org/WorkflowManager/createNewProcess" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownNames">
				<soap:fault use="literal" name="UnknownNames" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="takeOverAction">
			<soap:operation	soapAction="http://lucamannella.altervista.org/WorkflowManager/takeOverAction" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="faultCode">
				<soap:fault use="literal" name="faultCode" />
			</wsdl:fault>
			<wsdl:fault name="faultActor">
				<soap:fault use="literal" name="faultActor" />
			</wsdl:fault>
			<wsdl:fault name="faultAction">
				<soap:fault use="literal" name="faultAction" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="completeAction">
			<soap:operation	soapAction="http://lucamannella.altervista.org/WorkflowManager/completeAction" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="faultActionName">
				<soap:fault use="literal" name="faultActionName" />
			</wsdl:fault>
			<wsdl:fault name="faultNextActionName">
				<soap:fault use="literal" name="faultNextActionName" />
			</wsdl:fault>
			<wsdl:fault name="faultActionFinished">
				<soap:fault use="literal" name="faultActionFinished" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="WorkflowService">
		<wsdl:documentation>
			This service allows to get and modify data related to a Workflow Management System.
			This service has been thought according also to the requirements of part B.
		</wsdl:documentation>
		
    	<wsdl:port name="WorkflowInfoPort" binding="wfm:WorkflowInfoPortBinding">
    		<wsdl:documentation>
    			This port have to be used for retrieving data related to the workflows.
    		</wsdl:documentation>
			<soap:address location="http://localhost:7071/wfinfo"/>
		</wsdl:port>
		
    	<wsdl:port name="WorkflowControllerPort" binding="wfm:WorkflowControllerPortBinding">
    		<wsdl:documentation>
    			This port have to be used for sending command to the WS to manipulate the data related to the workflows.
    		</wsdl:documentation>
    		<soap:address location="http://localhost:7070/wfcontrol" />
    	</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>