wsdl/Workflow.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="Workflow" targetNamespace="http://lucamannella.altervista.org/WorkflowManager/"
				xmlns:wf="http://lucamannella.altervista.org/WorkflowManager/"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
	 <wsdl:documentation>
    	Service: WorkflowService
    	Version: 1.0
    	Owner: Luca Mannella
  	</wsdl:documentation>
  			
	<wsdl:types>
	<xsd:schema version="1.0" targetNamespace="http://lucamannella.altervista.org/WorkflowManager/">

		<xsd:element name="getWorkflowNames" type="wf:getWorkflowNames" />
		<xsd:element name="getWorkflowNamesResponse" type="wf:getWorkflowNamesResponse" />
		<xsd:element name="getWorkflows" type="wf:getWorkflows" />
		<xsd:element name="getWorkflowsResponse" type="wf:getWorkflowsResponse" />
		<xsd:element name="UnknownNames" type="wf:UnknownNames" />
		
					
		<xsd:complexType name="getWorkflowNames">
			<xsd:sequence />
		</xsd:complexType>
		
		<xsd:complexType name="getWorkflowNamesResponse">
			<xsd:sequence>
				<xsd:element name="lastModTime" type="xsd:dateTime" />
				<xsd:element name="name" type="wf:Name" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="getWorkflows">
			<xsd:sequence>
				<xsd:element name="wfname" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="getWorkflowsResponse">
			<xsd:sequence>
				<xsd:element name="lastModTime" type="xsd:dateTime" />
				<xsd:element name="workflow" type="wf:workflow"	minOccurs="0" maxOccurs="unbounded">
					<xsd:key name="actionKey">
						<xsd:selector xpath="action" />
						<xsd:field xpath="name" />
					</xsd:key>
					<xsd:keyref name="nextActionKeyRef" refer="wf:actionKey">
						<xsd:selector xpath="action" />
						<xsd:field xpath="nextAction" />
					</xsd:keyref>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="UnknownNames">
			<xsd:sequence>
				<xsd:element name="message" type="xsd:string" minOccurs="0" />
				<xsd:element name="names" type="wf:Name" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	
		<xsd:simpleType name="Name">
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[a-zA-Z][a-zA-Z0-9]*" />
			</xsd:restriction>
		</xsd:simpleType>
		
				<xsd:complexType name="workflow">
			<xsd:sequence>
				<xsd:element name="name" type="wf:Name" />
				<xsd:element name="action" type="wf:action" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="action">
			<xsd:sequence>
				<xsd:element name="name" type="wf:Name" />
				<xsd:element name="automaticallyInstantiated" type="xsd:boolean" />
				<xsd:element name="role" type="wf:Role" />
				<xsd:choice>
					<xsd:element name="nextAction" type="wf:Name" nillable="true" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="workflow" type="wf:Name" minOccurs="0" />
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	
		<xsd:simpleType name="Role">
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[a-zA-Z ]*" />
			</xsd:restriction>
		</xsd:simpleType>

		<xsd:element name="getProcesses">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="in" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="getProcessesResponse">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="out" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="getProcessesFault">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="getProcessesFault"
						type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="createNewProcess">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="in" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="createNewProcessResponse">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="out" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="getActions">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="in" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="getActionsResponse">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="out" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="takeOverAction">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="in" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="takeOverActionResponse">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="out" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="completeAction">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="in" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="completeActionResponse">
			<xsd:complexType>
				<xsd:sequence>

					<xsd:element name="out" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
	</xsd:schema>
	</wsdl:types>	

	
	<wsdl:message name="getWorkflowNames">
		<wsdl:part name="parameters" element="wf:getWorkflowNames" />
	</wsdl:message>
	<wsdl:message name="getWorkflowNamesResponse">
		<wsdl:part name="parameters" element="wf:getWorkflowNamesResponse" />
	</wsdl:message>
	<wsdl:message name="getWorkflows">
		<wsdl:part name="parameters" element="wf:getWorkflows" />
	</wsdl:message>
	<wsdl:message name="getWorkflowsResponse">
		<wsdl:part name="parameters" element="wf:getWorkflowsResponse" />
	</wsdl:message>
	<wsdl:message name="UnknownNames">
		<wsdl:part name="fault" element="wf:UnknownNames" />
	</wsdl:message>

	<wsdl:message name="getProcessesRequest">
		<wsdl:part name="parameters" element="wf:getProcesses"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProcessesResponse">
		<wsdl:part name="parameters" element="wf:getProcessesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProcessesFault">
		<wsdl:part name="parameters" element="wf:getProcessesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createNewProcessRequest">
		<wsdl:part name="parameters" element="wf:createNewProcess"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createNewProcessResponse">
		<wsdl:part name="parameters" element="wf:createNewProcessResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getActionsRequest">
		<wsdl:part name="parameters" element="wf:getActions"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getActionsResponse">
		<wsdl:part name="parameters" element="wf:getActionsResponse"></wsdl:part>
	</wsdl:message>


	<wsdl:message name="takeOverActionRequest">
		<wsdl:part name="parameters" element="wf:takeOverAction"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="takeOverActionResponse">
		<wsdl:part name="parameters" element="wf:takeOverActionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="completeActionRequest">
		<wsdl:part name="parameters" element="wf:completeAction"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="completeActionResponse">
		<wsdl:part name="parameters" element="wf:completeActionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WorkflowInterface">
		<wsdl:documentation>This interface is related to the feature of the Workflows.</wsdl:documentation>
		
		<wsdl:operation name="getWorkflowNames">
			<wsdl:documentation>
				Returns the list of names of the Workflows provided by the service.
			</wsdl:documentation>
    		<wsdl:input message="wf:getWorkflowNames"/>
    		<wsdl:output message="wf:getWorkflowNamesResponse"/>
		</wsdl:operation>
	
		<wsdl:operation name="getWorkflows">
			<wsdl:documentation>
				Returns the details of the Workflows whose names are passed as argument.
				If the argument is null, the informations about all the workflows are returned.
			</wsdl:documentation>
    		<wsdl:input message="wf:getWorkflows"/>
    		<wsdl:output message="wf:getWorkflowsResponse"/>
    		<wsdl:fault message="wf:UnknownNames" name="UnknownNames"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="ProcessInterface">
		<wsdl:documentation>This interface is related to the feature of the Processes.</wsdl:documentation>
		
		<wsdl:operation name="getProcesses">
			<wsdl:documentation>
				Returns the details of the Processes related to the name of the Workflows that are passed as argument.
				If the argument is null, the informations about all the Processes are returned.
			</wsdl:documentation>
			<wsdl:input message="wf:getProcessesRequest"></wsdl:input>
			<wsdl:output message="wf:getProcessesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="wf:getProcessesFault"></wsdl:fault>
        </wsdl:operation>
        
		<wsdl:operation name="createNewProcess">
			<wsdl:documentation>
				This operation creates new processes and it returns it.
				The new processes are initially created with only the automatically instantiated actions. 
				New actions may be created later on by means of the other operations.
			</wsdl:documentation>
			<wsdl:input message="wf:createNewProcessRequest"></wsdl:input>
			<wsdl:output message="wf:createNewProcessResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name="ActionInterface">
		<wsdl:documentation>This interface is related to the feature of the ActionStatus inside the Processes.</wsdl:documentation>
		
		<wsdl:operation name="getActions">
			<wsdl:documentation>
				Returns the details of the Actions related to the name of the Processes that are passed as argument.
			</wsdl:documentation>
			<wsdl:input message="wf:getActionsRequest"></wsdl:input>
			<wsdl:output message="wf:getActionsResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="takeOverAction">
			<wsdl:documentation>
				This operation allows to an Actor to take charge of an instantiated action.
			</wsdl:documentation>
			<wsdl:input message="wf:takeOverActionRequest"></wsdl:input>
			<wsdl:output message="wf:takeOverActionResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="completeAction">
			<wsdl:documentation>
				This operation allows the actor who had taken over the action to complete it.
			</wsdl:documentation>
			<wsdl:input message="wf:completeActionRequest"></wsdl:input>
			<wsdl:output message="wf:completeActionResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	
	<wsdl:binding name="WorkflowPortBinding" type="wf:WorkflowInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="getWorkflowNames">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getWorkflows">
			<soap:operation soapAction="" />	<!-- "http://lucamannella.altervista.org/WorkflowManager/getWorkflows" !-->
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownNames">
				<soap:fault name="UnknownNames" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="ProcessPortBinding" type="wf:ProcessInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="getProcesses">
			<soap:operation soapAction="" />	<!-- "http://lucamannella.altervista.org/WorkflowManager/getProcesses" !-->
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownNames">
				<soap:fault name="UnknownNames" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ActionPortBinding" type="wf:ActionInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getActions">
			<soap:operation
				soapAction="" />	<!-- "http://lucamannella.altervista.org/WorkflowManager/getActions" !-->
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	
	<wsdl:service name="Workflow">
    	<wsdl:port name="WorkflowPort" binding="wf:WorkflowPortBinding">
			<soap:address location="http://www.example.org:7070/"/>
		</wsdl:port>
    	<wsdl:port name="ProcessPort" binding="wf:ProcessPortBinding">
    		<soap:address location="http://www.example.org:7171/" />
    	</wsdl:port>
    	<wsdl:port name="ActionPort" binding="wf:ActionPortBinding">
    		<soap:address location="http://www.example.org:7272/" />
    	</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>